{% extends "base.twig" %}
{% block title %}Home - {% endblock %}
{% block content %}
    <div class="inner-cover">
        <h1 class="cover-heading">PWGRAM - Grup 18</h1>
        <p class="lead">
            <p><a class="btn btn-primary btn-lg" href="signin" role="button">Sign in &raquo;</a></p>
        </p>
    </div>
{% endblock %}